body {
    background-color: slateblue;
    font-family: "Trebuchet MS";
    color: white;
    text-align: center;
}

img {
    border-radius: 75px;
    height: 250px;
    width: 250px;
}

h2 {
    font-size: 18px;
}

a {
    background-color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    color: slateblue;
}

footer {
    background-color: white;
    color: slateblue;   
    font-size: 14px;
    padding: 10px;
    position: fixed;
    bottom: 0; 
    width: 100%; 

}